body {
    padding-top: 30px;
    background-color: #128c7e;
}
img {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 20px;
  display: inline-block;
}

h1 {
  color: #ece5dd;
  display: inline-block;
}
.bg-primary {
  background-color: #075e54 !important;
}

.Navb{
  background-color: #075e54 !important;
}
.NavLink:hover
{
  color: #ece5dd !important;
}
.navText {
  color: #128c7e !important;
  font-weight: bold;
}

.navTitle {
  color: #ece5dd;

}
